.jumbotron{
    margin: auto auto;
    max-width: 960px;
    text-align: center;
    background-color: maroon;
    color: white;
}

th{
    color: maroon;
    font-weight: 500;
}

.table {
   margin: auto auto; 
   max-width: 960px;
   text-align: center;
}

.form-group {
   margin: auto auto; 
   max-width: 960px;
}

#submit-btn{
    margin: auto 50% 10% 50%;
    background-color: maroon;
    border-color: white;
}