.jumbotron{
    margin: auto auto;
    max-width: 960px;
    text-align: center;
    background-color: maroon;
    color: white;
}

.table {
   margin: auto auto; 
   max-width: 960px;

}

.form-group {
   margin: auto auto; 
   max-width: 960px;
}

.submit-btn{
    margin: 0 16%;
}